[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-cors = "*"
cors = "*"
gunicorn = "*"
python-dotenv = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"
shell = "*"
psycopg2-binary = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.10"
